doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title KGL - Sales Dashboard
    link(rel='stylesheet' href='/css/md.css')
    script(src='https://cdn.jsdelivr.net/npm/chart.js')
    script(src='https://unpkg.com/lucide@latest')

  body
    header
      .header-left
        h1
          span.icon(data-lucide='layout-dashboard')
          | Sales Dashboard
      .header-right
        span#branchName
        a.button#logoutBtn(href="/logout") Logout

    nav.site-nav
      ul.nav-menu
        li
          a(href='/procurement' class='nav-link')
            span.icon(data-lucide="package")
            | Procurement
        li
          a(href='/makesale' class='nav-link active')
            span.icon(data-lucide="dollar-sign")
            | Record Sale
        li
          a(href='/ProducesList' class='nav-link')
            span.icon(data-lucide="boxes")
            | Inventory
        li
          a(href='/credit-sales' class='nav-link')
            span.icon(data-lucide="file-text")
            | Credit Sales
        li
          a(href='/add-user' class='nav-link')
            span.icon(data-lucide='user-plus')
            | Add User

    main
      section#sales.content-section.active
        h2.section-title 
          span.icon(data-lucide="shopping-cart")
          | Record New Sale

        if produce
          form#salesForm(action=`/addSale/${produce._id}` method='post' onsubmit='return validateSalesForm()')
            .form-row
              .form-group
                label(for='productname') Product Sold
                select#productname.form-select(name='productname')
                  option(value=produce._id)= produce.productname
                span.error#productnameError

              .form-group
                label(for='tonnage') Tonnage (kg)
                input#tonnage(type='number' name='saletonnage')
                span.error#tonnageError

            .form-row
              .form-group
                label(for='saleDate') Date of Sale
                input#saleDate(type='date' name='saleDate' value=today)
                span.error#saleDateError

              .form-group
                label(for='sellingPrice') Selling Price (UGX per kg)
                input#sellingPrice(type='number' name='sellingPrice' value=produce.sellingPrice readonly)

              .form-group
                label(for='totalAmount') Total Amount (UGX)
                input#totalAmount(type='text' name='totalAmount' readonly)

            .form-row
              .form-group
                label(for='buyerName') Buyer Name
                input#buyerName(type='text' name='buyerName')
                span.error#buyerNameError

              .form-group
                label(for='buyerContact') Buyer Contact
                input#buyerContact(type='tel' name='buyerContact')
                span.error#buyerContactError

            .form-group
              label(for='branch') Branch :
              br
              input#branch(type='text' name='branch' value=branch readonly)
              span.error#branchError

            .form-group
              label(for='agentname') Agent Name
              input#agentname(type='text' name='agentName' value=username)
              span.error#agentNameError

            button(type='submit') Record Sale

    script(src='/js/sales.js')
